<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agenzia viaggi</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<body>

	
	<h1 th:text = "${viaggio}"></h1>
		<div id="elenco" class="container">
			<div id="-1" class="row">
				<div class="col-sm-8">
					<h1>destinazione</h1>
				</div>
				<div class="col-sm-4">
					<img src="https://source.unsplash.com/user/erondu/100x100" width="100" height="100" alt="immagine" class="imgpiccola">
				</div>
			</div>
		</div>
	
	<script th:inline="javascript">
	/*<![CDATA[*/

    var idViaggio = /*[[${viaggio}]]*/ 'default';
    const URL = "/api/viaggi/" + idViaggio; //rotta api del nostro controller
	fetch(URL).then(viaggio => viaggio.json()).then(v => {
    console.log(v);
    
    
    });	

	/*]]>*/
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>